In [1]:
import os.path
import datetime

import numpy  as np
import pandas as pd

In [2]:
# Constants

dataDir   = '../Data'
pickleDir = '../Data/Pickle'
cols1     = ['user_id','is_booking','cnt','hotel_cluster']

nLargest = 5
nCluster = 100

In [3]:
# Read train.csv or if exists train-user-id-book then picle saved file
train_pickle = os.path.join(pickleDir,'trainx-user-id-book.pkl')
if os.path.exists(train_pickle) :
    trainx = pd.read_pickle(train_pickle)
else :
    trainx = pd.read_csv(os.path.join(dataDir,'train.csv'),usecols=cols1,
                     dtype={'user_id':int,'is_booking':int,'cnt':int,'hotel_cluster':int})
    print(trainx.shape)
    trainx.index = [trainx.user_id,trainx.is_booking]
    print(trainx.columns)
    trainx = trainx.sort_index(kind='quicksort')
print(trainx.head())
print(trainx.tail())

                    user_id  is_booking  cnt  hotel_cluster
user_id is_booking
0       0                 0           0    1             19
        0                 0           0    1             98
        0                 0           0    1             40
        0                 0           0    1             56
        0                 0           0    2             72
                    user_id  is_booking  cnt  hotel_cluster
user_id is_booking
1198784 0           1198784           0    6             68
        0           1198784           0    2             26
        1           1198784           1    1             79
1198785 0           1198785           0    2             76
        0           1198785           0    1             76

In [4]:
trainx[trainx.user_id==0]

                    user_id  is_booking  cnt  hotel_cluster
user_id is_booking
0       0                 0           0    1             19
        0                 0           0    1             98
        0                 0           0    1             40
        0                 0           0    1             56
        0                 0           0    2             72
        0                 0           0    1             28

In [5]:
trainx.head()

                    user_id  is_booking  cnt  hotel_cluster
user_id is_booking
0       0                 0           0    1             19
        0                 0           0    1             98
        0                 0           0    1             40
        0                 0           0    1             56
        0                 0           0    2             72

In [6]:
trainx.tail()

                    user_id  is_booking  cnt  hotel_cluster
user_id is_booking
1198784 0           1198784           0    6             68
        0           1198784           0    2             26
        1           1198784           1    1             79
1198785 0           1198785           0    2             76
        0           1198785           0    1             76

In [18]:
# build list for partitional work
lpiece = 10000
lmin = trainx['user_id'].min()
lmax = trainx['user_id'].max()
print(lmin,lmax)

lend = lmax+1
l = [i for i in range(0,lend,lpiece)]
if (l[len(l)-1]!=lend) : l.append(lend)
    
mm = [(l[i],l[i+1]) for i in range(len(l)-1)]
print(len(mm),mm[0:5],mm[-3:])

0 1198785
120 [(0, 10000), (10000, 20000), (20000, 30000), (30000, 40000), (40000, 50000)] [(1170000, 1180000), (1180000, 1190000), (1190000, 1198786)]

In [114]:
# Function for apply function: count counts, and build arrays for hostel_clusters
i        = -1
x00x     = [-1]*nLargest

dcol = ['count','countCnt'] + ['n'+str(i) for i in range(nLargest)]  + ['v'+str(i) for i in range(nLargest)] 

def fApply (xgroup) :
    global i,nLargest,nCluster
    ygroup = xgroup[['hotel_cluster','cnt']].groupby('hotel_cluster').sum().reset_index()
    d00  = np.zeros((nCluster),dtype=np.int16); d00[ygroup['hotel_cluster']]+=ygroup['cnt']
    dsum = xgroup['cnt'].sum()
    dcnt = len(xgroup)
    d05  = pd.Series(d00); 
    n05=d05[d05>0].nlargest(nLargest).index.tolist()+x00x; n05=n05[0:nLargest];
    v05=d05[d05>0].nlargest(nLargest).tolist()+x00x;       v05=v05[0:nLargest];
    ddd  = [dcnt,dsum] + n05 + v05 # + d00.tolist()
    i   += 1
    if (i%10000==0) : print('5 :',datetime.datetime.now()," i = ",i," len-xgroup =",len(xgroup),ddd)

    
    return(pd.DataFrame(ddd,index=dcol,dtype=int).T)

In [115]:
# Function for split and join arrays for is_booking {True,False}
def fJoin (transx,nn,filepickle) :
    trans0 = transx.query('is_booking==0')[['user_id','is_booking','count','countCnt']+ \
                                              ['n'+str(i) for i in range(nn)]+['v'+str(i) for i in range(nn)]]
    trans0.index = trans0['user_id']
    trans0.dtype = int
    #print(trans0.head())

    trans1 = transx.query('is_booking==1')[['user_id','is_booking','count','countCnt']+ \
                                             ['n'+str(i) for i in range(nn)]+['v'+str(i) for i in range(nn)]]
    trans1.index = trans1['user_id']
    trans1.dtype = int
    #print(trans1.head())

    trans01 = pd.concat([trans0,trans1],axis=1)
    trans01.columns = ['user_id','bo0','count0','countCnt0']+['b0n'+str(i) for i in range(nn)]+['b0v'+str(i) for i in range(nn)]+ \
                        ['h1','bo1','count1','countCnt1']+['b1n'+str(i) for i in range(nn)]+['b1v'+str(i) for i in range(nn)]
    trans01 = trans01[['user_id','count0','countCnt0','count1','countCnt1'] + \
                      ['b0n'+str(i) for i in range(nn)]+['b1n'+str(i) for i in range(nn)]+ \
                      ['b0v'+str(i) for i in range(nn)]+['b1v'+str(i) for i in range(nn)]]
    trans01.dtype = int
    
    trans01.to_pickle(filepickle)
    
    return(trans01)

In [116]:
# Main body for calculate partition and save in file
fres = []
i1,i2 = 10000,20000
for i1,i2 in mm[3:] :
    print('4 :',datetime.datetime.now(),' i1,i2=',i1,i2)
    cond = '('+str(i1)+'<=user_id)&(user_id<'+str(i2)+')'
    grouped100 = trainx.query(cond).groupby(['user_id','is_booking']); 
    #print('user+book =',len(grouped100))
    #print('before fApply:',datetime.datetime.now())
    i       = -1
    trans   = grouped100.apply(fApply);
    #print('after fApply:',datetime.datetime.now())
    trans   = trans.reset_index()
    #print('before fJoin:',datetime.datetime.now())
    ffile   = os.path.join(pickleDir,'trans01-'+str(i1+1000000000)+'.pck')
    trans01 = fJoin(trans,nLargest,ffile)
    fres.append(ffile)
    print('6 :',datetime.datetime.now(),trans01.shape)
    
print('7 :',datetime.datetime.now())
print('fres=',len(fres))
trans01.head()

4 : 2016-05-27 19:13:34.454182  i1,i2= 30000 40000
5 : 2016-05-27 19:13:37.256424  i =  0  len-xgroup = 8 [8, 8, 87, 40, 48, 66, 73, 4, 1, 1, 1, 1]

C:\Anaconda3-64\lib\site-packages\ipykernel\__main__.py:10: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

5 : 2016-05-27 19:14:51.113631  i =  10000  len-xgroup = 4 [4, 10, 48, 60, 15, 47, -1, 6, 2, 1, 1, -1]
6 : 2016-05-27 19:15:42.055573 (10000, 25)
4 : 2016-05-27 19:15:42.055573  i1,i2= 40000 50000
5 : 2016-05-27 19:15:43.901745  i =  0  len-xgroup = 22 [22, 33, 21, 95, 19, 37, 68, 13, 4, 3, 3, 3]
5 : 2016-05-27 19:17:11.101485  i =  10000  len-xgroup = 8 [8, 11, 25, 31, 32, 68, 91, 5, 3, 1, 1, 1]
6 : 2016-05-27 19:18:11.928013 (10000, 25)
4 : 2016-05-27 19:18:11.928013  i1,i2= 50000 60000
5 : 2016-05-27 19:18:13.882052  i =  0  len-xgroup = 24 [24, 25, 77, 39, 13, 43, 47, 4, 3, 2, 2, 2]
5 : 2016-05-27 19:19:40.707901  i =  10000  len-xgroup = 3 [3, 7, 77, 23, -1, -1, -1, 6, 1, -1, -1, -1]
6 : 2016-05-27 19:20:41.242237 (10000, 25)
4 : 2016-05-27 19:20:41.243250  i1,i2= 60000 70000
5 : 2016-05-27 19:20:43.246042  i =  0  len-xgroup = 44 [44, 51, 0, 34, 17, 41, 68, 6, 5, 4, 4, 4]
5 : 2016-05-27 19:22:10.502177  i =  10000  len-xgroup = 4 [4, 5, 80, 26, 29, -1, -1, 3, 1, 1, -1, -1]
6 : 2016-05-27 19:23:11.767048 (10000, 25)
4 : 2016-05-27 19:23:11.767048  i1,i2= 70000 80000
5 : 2016-05-27 19:23:13.652548  i =  0  len-xgroup = 25 [25, 36, 65, 21, 18, 58, 98, 5, 4, 3, 3, 3]
5 : 2016-05-27 19:24:40.953712  i =  10000  len-xgroup = 9 [9, 11, 48, 96, 20, 77, 98, 6, 2, 1, 1, 1]
6 : 2016-05-27 19:25:44.060760 (10000, 25)
4 : 2016-05-27 19:25:44.061760  i1,i2= 80000 90000
5 : 2016-05-27 19:25:46.008334  i =  0  len-xgroup = 4 [4, 5, 50, 11, 16, -1, -1, 3, 1, 1, -1, -1]
5 : 2016-05-27 19:27:13.643722  i =  10000  len-xgroup = 31 [31, 61, 91, 5, 6, 7, 48, 20, 10, 7, 4, 4]
6 : 2016-05-27 19:28:15.112930 (10000, 25)
4 : 2016-05-27 19:28:15.112930  i1,i2= 90000 100000
5 : 2016-05-27 19:28:17.240269  i =  0  len-xgroup = 13 [13, 13, 65, 11, 52, 20, 62, 4, 2, 2, 1, 1]
5 : 2016-05-27 19:29:44.968718  i =  10000  len-xgroup = 20 [20, 51, 52, 41, 69, 93, 44, 18, 6, 6, 6, 3]
6 : 2016-05-27 19:30:46.693845 (10000, 25)
4 : 2016-05-27 19:30:46.694844  i1,i2= 100000 110000
5 : 2016-05-27 19:30:48.596693  i =  0  len-xgroup = 62 [62, 72, 90, 41, 2, 37, 52, 9, 7, 6, 5, 4]
5 : 2016-05-27 19:32:16.005930  i =  10000  len-xgroup = 6 [6, 6, 50, 55, 40, 91, -1, 2, 2, 1, 1, -1]
6 : 2016-05-27 19:33:17.889161 (10000, 25)
4 : 2016-05-27 19:33:17.889161  i1,i2= 110000 120000
5 : 2016-05-27 19:33:19.867595  i =  0  len-xgroup = 21 [21, 23, 44, 3, 87, 90, 58, 6, 5, 3, 3, 2]
5 : 2016-05-27 19:34:47.176765  i =  10000  len-xgroup = 17 [17, 27, 85, 89, 77, 21, 83, 11, 6, 5, 2, 2]
6 : 2016-05-27 19:35:49.072011 (10000, 25)
4 : 2016-05-27 19:35:49.073004  i1,i2= 120000 130000
5 : 2016-05-27 19:35:50.967714  i =  0  len-xgroup = 30 [30, 67, 8, 86, 19, 92, 18, 25, 9, 7, 4, 2]
5 : 2016-05-27 19:37:18.591092  i =  10000  len-xgroup = 3 [3, 7, 16, 59, 49, -1, -1, 4, 2, 1, -1, -1]
6 : 2016-05-27 19:38:19.543063 (10000, 25)
4 : 2016-05-27 19:38:19.544064  i1,i2= 130000 140000
5 : 2016-05-27 19:38:21.430258  i =  0  len-xgroup = 35 [35, 77, 10, 6, 48, 28, 47, 12, 10, 8, 5, 5]
5 : 2016-05-27 19:39:53.438559  i =  10000  len-xgroup = 4 [4, 5, 46, 20, 22, 41, -1, 2, 1, 1, 1, -1]
6 : 2016-05-27 19:40:58.424857 (10000, 25)
4 : 2016-05-27 19:40:58.424857  i1,i2= 140000 150000
5 : 2016-05-27 19:41:00.478267  i =  0  len-xgroup = 5 [5, 13, 65, 56, 32, -1, -1, 9, 3, 1, -1, -1]
5 : 2016-05-27 19:42:32.171357  i =  10000  len-xgroup = 1 [1, 1, 50, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-27 19:43:38.237388 (10000, 25)
4 : 2016-05-27 19:43:38.238377  i1,i2= 150000 160000
5 : 2016-05-27 19:43:40.261760  i =  0  len-xgroup = 65 [65, 107, 25, 2, 95, 98, 9, 26, 16, 15, 15, 12]
5 : 2016-05-27 19:45:11.836772  i =  10000  len-xgroup = 5 [5, 6, 1, 5, 41, 51, 98, 2, 1, 1, 1, 1]
6 : 2016-05-27 19:46:16.680324 (10000, 25)
4 : 2016-05-27 19:46:16.681323  i1,i2= 160000 170000
5 : 2016-05-27 19:46:19.519230  i =  0  len-xgroup = 20 [20, 32, 70, 41, 93, 2, 56, 6, 5, 5, 4, 3]
5 : 2016-05-27 19:48:01.445143  i =  10000  len-xgroup = 7 [7, 13, 40, 39, 23, 13, -1, 7, 3, 2, 1, -1]
6 : 2016-05-27 19:49:06.661588 (10000, 25)
4 : 2016-05-27 19:49:06.661588  i1,i2= 170000 180000
5 : 2016-05-27 19:49:08.453414  i =  0  len-xgroup = 5 [5, 7, 52, 99, 1, 95, -1, 3, 2, 1, 1, -1]
5 : 2016-05-27 19:50:39.638167  i =  10000  len-xgroup = 2 [2, 2, 46, 64, -1, -1, -1, 1, 1, -1, -1, -1]
6 : 2016-05-27 19:51:44.894644 (10000, 25)
4 : 2016-05-27 19:51:44.895643  i1,i2= 180000 190000
5 : 2016-05-27 19:51:49.693857  i =  0  len-xgroup = 10 [10, 11, 37, 4, 28, 33, 68, 4, 3, 1, 1, 1]
5 : 2016-05-27 19:53:30.111746  i =  10000  len-xgroup = 3 [3, 3, 29, 44, 58, -1, -1, 1, 1, 1, -1, -1]
6 : 2016-05-27 19:54:46.372556 (10000, 25)
4 : 2016-05-27 19:54:46.373558  i1,i2= 190000 200000
5 : 2016-05-27 19:54:49.342583  i =  0  len-xgroup = 3 [3, 3, 36, -1, -1, -1, -1, 3, -1, -1, -1, -1]
5 : 2016-05-27 19:56:21.339876  i =  10000  len-xgroup = 237 [237, 316, 39, 10, 46, 62, 12, 27, 24, 19, 19, 18]
6 : 2016-05-27 19:57:26.113034 (10000, 25)
4 : 2016-05-27 19:57:26.113034  i1,i2= 200000 210000
5 : 2016-05-27 19:57:28.183650  i =  0  len-xgroup = 16 [16, 18, 25, 11, 75, 22, 46, 4, 3, 3, 2, 2]
5 : 2016-05-27 19:59:16.693946  i =  10000  len-xgroup = 27 [27, 31, 47, 51, 40, 23, 50, 7, 6, 4, 3, 2]
6 : 2016-05-27 20:00:22.380712 (10000, 25)
4 : 2016-05-27 20:00:22.380712  i1,i2= 210000 220000
5 : 2016-05-27 20:00:24.330703  i =  0  len-xgroup = 8 [8, 10, 7, 46, 99, 12, 40, 2, 2, 2, 1, 1]
5 : 2016-05-27 20:01:55.787637  i =  10000  len-xgroup = 9 [9, 9, 5, 9, 29, 22, 37, 2, 2, 2, 1, 1]
6 : 2016-05-27 20:03:12.935035 (10000, 25)
4 : 2016-05-27 20:03:12.935035  i1,i2= 220000 230000
5 : 2016-05-27 20:03:14.777621  i =  0  len-xgroup = 12 [12, 19, 78, 62, 64, 30, 11, 6, 3, 3, 2, 1]
5 : 2016-05-27 20:04:46.782920  i =  10000  len-xgroup = 13 [13, 15, 37, 36, 99, 5, 9, 3, 2, 2, 1, 1]
6 : 2016-05-27 20:05:49.152472 (10000, 25)
4 : 2016-05-27 20:05:49.152472  i1,i2= 230000 240000
5 : 2016-05-27 20:05:51.151250  i =  0  len-xgroup = 22 [22, 30, 9, 46, 2, 56, 58, 9, 5, 3, 3, 3]
5 : 2016-05-27 20:07:18.684570  i =  10000  len-xgroup = 5 [5, 6, 94, 4, 13, 63, 91, 2, 1, 1, 1, 1]
6 : 2016-05-27 20:08:18.520492 (10000, 25)
4 : 2016-05-27 20:08:18.521493  i1,i2= 240000 250000
5 : 2016-05-27 20:08:23.126205  i =  0  len-xgroup = 169 [169, 234, 82, 48, 54, 62, 5, 23, 20, 16, 16, 14]
5 : 2016-05-27 20:09:59.984739  i =  10000  len-xgroup = 242 [242, 380, 2, 99, 16, 46, 82, 41, 25, 19, 19, 18]
6 : 2016-05-27 20:11:01.849957 (10000, 25)
4 : 2016-05-27 20:11:01.849957  i1,i2= 250000 260000
5 : 2016-05-27 20:11:03.704221  i =  0  len-xgroup = 144 [144, 172, 39, 23, 42, 51, 99, 24, 15, 10, 8, 8]
5 : 2016-05-27 20:12:31.247547  i =  10000  len-xgroup = 7 [7, 8, 29, 81, 87, 23, -1, 3, 2, 2, 1, -1]
6 : 2016-05-27 20:13:31.961999 (10000, 25)
4 : 2016-05-27 20:13:31.961999  i1,i2= 260000 270000
5 : 2016-05-27 20:13:33.854288  i =  0  len-xgroup = 7 [7, 10, 98, 30, 36, 44, -1, 5, 2, 2, 1, -1]
5 : 2016-05-27 20:15:12.335887  i =  10000  len-xgroup = 113 [113, 154, 55, 1, 34, 4, 91, 14, 13, 10, 9, 9]
6 : 2016-05-27 20:16:29.684420 (10000, 25)
4 : 2016-05-27 20:16:29.685421  i1,i2= 270000 280000
5 : 2016-05-27 20:16:34.327252  i =  0  len-xgroup = 42 [42, 92, 46, 82, 85, 19, 8, 16, 10, 10, 9, 7]
5 : 2016-05-27 20:18:05.742160  i =  10000  len-xgroup = 15 [15, 44, 8, 9, 99, 58, 95, 13, 8, 7, 6, 3]
6 : 2016-05-27 20:19:09.325524 (10000, 25)
4 : 2016-05-27 20:19:09.325524  i1,i2= 280000 290000
5 : 2016-05-27 20:19:12.261434  i =  0  len-xgroup = 38 [38, 48, 72, 37, 68, 9, 0, 6, 5, 5, 4, 3]
5 : 2016-05-27 20:20:55.887475  i =  10000  len-xgroup = 1 [1, 1, 15, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-27 20:22:14.546885 (10000, 25)
4 : 2016-05-27 20:22:14.546885  i1,i2= 290000 300000
5 : 2016-05-27 20:22:16.429041  i =  0  len-xgroup = 2 [2, 5, 33, 83, -1, -1, -1, 4, 1, -1, -1, -1]
5 : 2016-05-27 20:23:47.970023  i =  10000  len-xgroup = 66 [66, 95, 26, 97, 69, 64, 86, 10, 10, 9, 8, 7]
6 : 2016-05-27 20:25:08.280529 (10000, 25)
4 : 2016-05-27 20:25:08.280529  i1,i2= 300000 310000
5 : 2016-05-27 20:25:10.300220  i =  0  len-xgroup = 21 [21, 25, 34, 0, 54, 96, 11, 8, 4, 4, 2, 1]
5 : 2016-05-27 20:26:41.670883  i =  10000  len-xgroup = 6 [6, 6, 81, 43, 61, 78, 95, 2, 1, 1, 1, 1]
6 : 2016-05-27 20:27:45.144184 (10000, 25)
4 : 2016-05-27 20:27:45.145172  i1,i2= 310000 320000
5 : 2016-05-27 20:27:49.848321  i =  0  len-xgroup = 8 [8, 19, 64, 82, 21, 99, 2, 5, 5, 3, 2, 1]
5 : 2016-05-27 20:29:35.677817  i =  10000  len-xgroup = 6 [6, 9, 2, 36, 5, 62, 67, 4, 2, 1, 1, 1]
6 : 2016-05-27 20:30:38.741839 (10000, 25)
4 : 2016-05-27 20:30:38.742834  i1,i2= 320000 330000
5 : 2016-05-27 20:30:40.580266  i =  0  len-xgroup = 11 [11, 19, 45, 1, 46, -1, -1, 11, 4, 4, -1, -1]
5 : 2016-05-27 20:32:29.439792  i =  10000  len-xgroup = 22 [22, 22, 5, 6, 47, 50, 9, 2, 2, 2, 2, 1]
6 : 2016-05-27 20:33:34.735302 (10000, 25)
4 : 2016-05-27 20:33:34.735302  i1,i2= 330000 340000
5 : 2016-05-27 20:33:39.200275  i =  0  len-xgroup = 49 [49, 58, 24, 70, 1, 79, 88, 9, 8, 7, 6, 5]
5 : 2016-05-27 20:35:19.225915  i =  10000  len-xgroup = 93 [93, 170, 61, 77, 51, 90, 99, 28, 28, 18, 13, 11]
6 : 2016-05-27 20:36:23.618828 (10000, 25)
4 : 2016-05-27 20:36:23.618828  i1,i2= 340000 350000
5 : 2016-05-27 20:36:25.356010  i =  0  len-xgroup = 32 [32, 38, 16, 59, 91, 41, 3, 7, 7, 5, 4, 3]
5 : 2016-05-27 20:38:13.081783  i =  10000  len-xgroup = 1 [1, 1, 43, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-27 20:39:27.860657 (10000, 25)
4 : 2016-05-27 20:39:27.860657  i1,i2= 350000 360000
5 : 2016-05-27 20:39:29.763263  i =  0  len-xgroup = 5 [5, 7, 72, 18, 59, 64, 92, 3, 1, 1, 1, 1]
5 : 2016-05-27 20:40:56.935342  i =  10000  len-xgroup = 1 [1, 1, 44, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-27 20:41:57.602769 (10000, 25)
4 : 2016-05-27 20:41:57.602769  i1,i2= 360000 370000
5 : 2016-05-27 20:41:59.354232  i =  0  len-xgroup = 24 [24, 38, 94, 72, 47, 16, 18, 7, 6, 4, 3, 3]
5 : 2016-05-27 20:43:27.053660  i =  10000  len-xgroup = 12 [12, 13, 15, 82, 96, 21, 46, 2, 2, 2, 1, 1]
6 : 2016-05-27 20:44:42.525954 (10000, 25)
4 : 2016-05-27 20:44:42.525954  i1,i2= 370000 380000
5 : 2016-05-27 20:44:44.397154  i =  0  len-xgroup = 81 [81, 134, 91, 83, 1, 33, 13, 22, 18, 15, 11, 7]
5 : 2016-05-27 20:46:11.717333  i =  10000  len-xgroup = 304 [304, 385, 65, 59, 87, 13, 91, 30, 28, 26, 17, 15]
6 : 2016-05-27 20:47:12.923116 (10000, 25)
4 : 2016-05-27 20:47:12.924112  i1,i2= 380000 390000
5 : 2016-05-27 20:47:15.843520  i =  0  len-xgroup = 11 [11, 15, 14, 10, 55, 3, 5, 4, 2, 2, 1, 1]
5 : 2016-05-27 20:48:55.147668  i =  10000  len-xgroup = 3 [3, 3, 7, 32, 91, -1, -1, 1, 1, 1, -1, -1]
6 : 2016-05-27 20:49:57.348112 (10000, 25)
4 : 2016-05-27 20:49:57.349108  i1,i2= 390000 400000
5 : 2016-05-27 20:49:59.253379  i =  0  len-xgroup = 5 [5, 9, 4, 16, 40, 49, 76, 4, 2, 1, 1, 1]
5 : 2016-05-27 20:51:26.557546  i =  10000  len-xgroup = 1 [1, 1, 42, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-27 20:52:29.312355 (10000, 25)
4 : 2016-05-27 20:52:29.312355  i1,i2= 400000 410000
5 : 2016-05-27 20:52:31.320086  i =  0  len-xgroup = 23 [23, 33, 59, 41, 68, 96, 11, 6, 5, 4, 4, 2]
5 : 2016-05-27 20:53:58.423118  i =  10000  len-xgroup = 5 [5, 5, 6, 15, 25, 33, 37, 1, 1, 1, 1, 1]
6 : 2016-05-27 20:55:22.415086 (10000, 25)
4 : 2016-05-27 20:55:22.415086  i1,i2= 410000 420000
5 : 2016-05-27 20:55:24.485739  i =  0  len-xgroup = 6 [6, 11, 23, 99, 44, 55, -1, 4, 3, 2, 2, -1]
5 : 2016-05-27 20:57:23.915310  i =  10000  len-xgroup = 85 [85, 142, 46, 85, 57, 30, 73, 35, 19, 12, 8, 5]
6 : 2016-05-27 20:58:27.360590 (10000, 25)
4 : 2016-05-27 20:58:27.361582  i1,i2= 420000 430000
5 : 2016-05-27 20:58:29.472254  i =  0  len-xgroup = 48 [48, 86, 91, 48, 29, 55, 1, 15, 14, 8, 8, 7]
5 : 2016-05-27 20:59:57.742066  i =  10000  len-xgroup = 8 [8, 9, 1, 19, 79, 51, -1, 4, 2, 2, 1, -1]
6 : 2016-05-27 21:00:59.783402 (10000, 25)
4 : 2016-05-27 21:00:59.784417  i1,i2= 430000 440000
5 : 2016-05-27 21:01:04.503424  i =  0  len-xgroup = 33 [33, 35, 85, 57, 60, 78, 20, 13, 4, 4, 3, 2]
5 : 2016-05-27 21:02:44.795245  i =  10000  len-xgroup = 14 [14, 16, 18, 28, 65, 91, 16, 6, 3, 2, 2, 1]
6 : 2016-05-27 21:03:45.738853 (10000, 25)
4 : 2016-05-27 21:03:45.738853  i1,i2= 440000 450000
5 : 2016-05-27 21:03:47.629805  i =  0  len-xgroup = 15 [15, 20, 47, 33, 71, 83, 6, 9, 3, 2, 2, 1]
5 : 2016-05-27 21:05:15.192141  i =  10000  len-xgroup = 12 [12, 20, 67, 54, 29, 61, 44, 6, 5, 3, 2, 1]
6 : 2016-05-27 21:06:15.673438 (10000, 25)
4 : 2016-05-27 21:06:15.673438  i1,i2= 450000 460000
5 : 2016-05-27 21:06:17.471539  i =  0  len-xgroup = 9 [9, 21, 36, 81, 15, -1, -1, 10, 10, 1, -1, -1]
5 : 2016-05-27 21:07:59.906790  i =  10000  len-xgroup = 4 [4, 7, 28, 40, 77, 83, -1, 4, 1, 1, 1, -1]
6 : 2016-05-27 21:08:58.426777 (10000, 25)
4 : 2016-05-27 21:08:58.426777  i1,i2= 460000 470000
5 : 2016-05-27 21:09:00.360065  i =  0  len-xgroup = 7 [7, 9, 65, 44, 84, -1, -1, 7, 1, 1, -1, -1]
5 : 2016-05-27 21:10:27.566169  i =  10000  len-xgroup = 31 [31, 46, 29, 62, 43, 10, 59, 14, 9, 8, 5, 2]
6 : 2016-05-27 21:11:28.271420 (10000, 25)
4 : 2016-05-27 21:11:28.271420  i1,i2= 470000 480000
5 : 2016-05-27 21:11:32.910518  i =  0  len-xgroup = 4 [4, 4, 2, 63, 83, 90, -1, 1, 1, 1, 1, -1]
5 : 2016-05-27 21:13:12.616941  i =  10000  len-xgroup = 6 [6, 7, 48, 29, 47, 50, 93, 3, 1, 1, 1, 1]
6 : 2016-05-27 21:14:13.711667 (10000, 25)
4 : 2016-05-27 21:14:13.711667  i1,i2= 480000 490000
5 : 2016-05-27 21:14:15.452007  i =  0  len-xgroup = 32 [32, 36, 58, 64, 97, 25, 5, 6, 6, 6, 3, 2]
5 : 2016-05-27 21:16:01.400070  i =  10000  len-xgroup = 12 [12, 37, 5, 11, 68, 91, 2, 10, 9, 5, 4, 3]
6 : 2016-05-27 21:17:46.768882 (10000, 25)
4 : 2016-05-27 21:17:46.768882  i1,i2= 490000 500000
5 : 2016-05-27 21:17:48.513261  i =  0  len-xgroup = 81 [81, 114, 48, 90, 73, 65, 44, 36, 17, 16, 7, 6]
5 : 2016-05-27 21:19:20.469536  i =  10000  len-xgroup = 3 [3, 3, 94, 9, -1, -1, -1, 2, 1, -1, -1, -1]
6 : 2016-05-27 21:20:25.004523 (10000, 25)
4 : 2016-05-27 21:20:25.005523  i1,i2= 500000 510000
5 : 2016-05-27 21:20:26.947914  i =  0  len-xgroup = 3 [3, 6, 21, 48, 79, -1, -1, 4, 1, 1, -1, -1]
5 : 2016-05-27 21:21:54.380166  i =  10000  len-xgroup = 2 [2, 2, 61, -1, -1, -1, -1, 2, -1, -1, -1, -1]
6 : 2016-05-27 21:22:56.526571 (10000, 25)
4 : 2016-05-27 21:22:56.526571  i1,i2= 510000 520000
5 : 2016-05-27 21:22:58.418240  i =  0  len-xgroup = 26 [26, 46, 99, 30, 85, 9, 29, 7, 6, 6, 5, 4]
5 : 2016-05-27 21:24:26.062632  i =  10000  len-xgroup = 7 [7, 8, 12, 40, -1, -1, -1, 4, 4, -1, -1, -1]
6 : 2016-05-27 21:25:27.626652 (10000, 25)
4 : 2016-05-27 21:25:27.626652  i1,i2= 520000 530000
5 : 2016-05-27 21:25:29.416843  i =  0  len-xgroup = 15 [15, 16, 59, 61, 5, 6, 8, 3, 2, 1, 1, 1]
5 : 2016-05-27 21:26:56.758034  i =  10000  len-xgroup = 1 [1, 1, 50, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-27 21:27:58.009846 (10000, 25)
4 : 2016-05-27 21:27:58.009846  i1,i2= 530000 540000
5 : 2016-05-27 21:27:59.847728  i =  0  len-xgroup = 5 [5, 15, 84, 66, -1, -1, -1, 11, 4, -1, -1, -1]
5 : 2016-05-27 21:29:27.125875  i =  10000  len-xgroup = 1 [1, 1, 48, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-27 21:30:41.466405 (10000, 25)
4 : 2016-05-27 21:30:41.466405  i1,i2= 540000 550000
5 : 2016-05-27 21:30:43.411435  i =  0  len-xgroup = 46 [46, 53, 24, 79, 45, 1, 19, 14, 11, 10, 5, 3]
5 : 2016-05-27 21:32:10.919738  i =  10000  len-xgroup = 11 [11, 11, 29, 33, 5, 36, 37, 2, 2, 1, 1, 1]
6 : 2016-05-27 21:33:12.895400 (10000, 25)
4 : 2016-05-27 21:33:12.896395  i1,i2= 550000 560000
5 : 2016-05-27 21:33:14.706629  i =  0  len-xgroup = 6 [6, 11, 79, -1, -1, -1, -1, 11, -1, -1, -1, -1]
5 : 2016-05-27 21:34:42.555159  i =  10000  len-xgroup = 2 [2, 2, 81, -1, -1, -1, -1, 2, -1, -1, -1, -1]
6 : 2016-05-27 21:35:45.163873 (10000, 25)
4 : 2016-05-27 21:35:45.163873  i1,i2= 560000 570000
5 : 2016-05-27 21:35:47.082349  i =  0  len-xgroup = 28 [28, 41, 37, 2, 11, 41, 21, 7, 5, 5, 5, 3]
5 : 2016-05-27 21:37:14.701725  i =  10000  len-xgroup = 3 [3, 3, 41, -1, -1, -1, -1, 3, -1, -1, -1, -1]
6 : 2016-05-27 21:38:34.759063 (10000, 25)
4 : 2016-05-27 21:38:34.759063  i1,i2= 570000 580000
5 : 2016-05-27 21:38:36.474403  i =  0  len-xgroup = 5 [5, 8, 36, 2, 22, -1, -1, 6, 1, 1, -1, -1]
5 : 2016-05-27 21:40:04.066762  i =  10000  len-xgroup = 1 [1, 1, 16, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-27 21:41:06.091088 (10000, 25)
4 : 2016-05-27 21:41:06.091088  i1,i2= 580000 590000
5 : 2016-05-27 21:41:08.087857  i =  0  len-xgroup = 16 [16, 23, 27, 70, 80, 5, 20, 8, 6, 4, 1, 1]
5 : 2016-05-27 21:42:39.161538  i =  10000  len-xgroup = 158 [158, 225, 61, 12, 81, 46, 82, 23, 18, 16, 15, 13]
6 : 2016-05-27 21:43:50.411010 (10000, 25)
4 : 2016-05-27 21:43:50.411010  i1,i2= 590000 600000
5 : 2016-05-27 21:43:52.342397  i =  0  len-xgroup = 24 [24, 28, 95, 5, 32, 48, 9, 8, 2, 2, 2, 1]
5 : 2016-05-27 21:45:19.888727  i =  10000  len-xgroup = 5 [5, 5, 0, 44, 68, 73, 93, 1, 1, 1, 1, 1]
6 : 2016-05-27 21:46:20.802310 (10000, 25)
4 : 2016-05-27 21:46:20.802310  i1,i2= 600000 610000
5 : 2016-05-27 21:46:22.507478  i =  0  len-xgroup = 39 [39, 67, 64, 46, 24, 95, 45, 19, 16, 10, 10, 4]
5 : 2016-05-27 21:47:50.089831  i =  10000  len-xgroup = 1 [1, 1, 91, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-27 21:49:12.903010 (10000, 25)
4 : 2016-05-27 21:49:12.903010  i1,i2= 610000 620000
5 : 2016-05-27 21:49:14.848328  i =  0  len-xgroup = 5 [5, 11, 61, 99, 6, 14, -1, 7, 2, 1, 1, -1]
5 : 2016-05-27 21:51:03.869965  i =  10000  len-xgroup = 6 [6, 8, 87, 48, 91, 9, -1, 3, 2, 2, 1, -1]
6 : 2016-05-27 21:52:09.753859 (10000, 25)
4 : 2016-05-27 21:52:09.753859  i1,i2= 620000 630000
5 : 2016-05-27 21:52:11.520485  i =  0  len-xgroup = 6 [6, 8, 62, 30, -1, -1, -1, 6, 2, -1, -1, -1]
5 : 2016-05-27 21:54:00.830311  i =  10000  len-xgroup = 63 [63, 89, 31, 77, 28, 40, 66, 10, 8, 7, 6, 6]
6 : 2016-05-27 21:55:05.824615 (10000, 25)
4 : 2016-05-27 21:55:05.824615  i1,i2= 630000 640000
5 : 2016-05-27 21:55:07.641848  i =  0  len-xgroup = 11 [11, 15, 48, 91, 50, 25, -1, 6, 6, 2, 1, -1]
5 : 2016-05-27 21:56:56.782563  i =  10000  len-xgroup = 6 [6, 6, 63, 9, 58, 59, 73, 2, 1, 1, 1, 1]
6 : 2016-05-27 21:58:16.194473 (10000, 25)
4 : 2016-05-27 21:58:16.194473  i1,i2= 640000 650000
5 : 2016-05-27 21:58:18.355317  i =  0  len-xgroup = 2 [2, 4, 63, 67, -1, -1, -1, 3, 1, -1, -1, -1]
5 : 2016-05-27 21:59:50.013385  i =  10000  len-xgroup = 6 [6, 6, 15, 7, 20, 32, 85, 2, 1, 1, 1, 1]
6 : 2016-05-27 22:01:10.136769 (10000, 25)
4 : 2016-05-27 22:01:10.136769  i1,i2= 650000 660000
5 : 2016-05-27 22:01:11.996274  i =  0  len-xgroup = 5 [5, 10, 8, 89, 20, -1, -1, 6, 3, 1, -1, -1]
5 : 2016-05-27 22:02:39.456545  i =  10000  len-xgroup = 9 [9, 10, 59, 8, 18, 36, 37, 2, 1, 1, 1, 1]
6 : 2016-05-27 22:03:40.769396 (10000, 25)
4 : 2016-05-27 22:03:40.769396  i1,i2= 660000 670000
5 : 2016-05-27 22:03:42.528237  i =  0  len-xgroup = 7 [7, 12, 21, 25, 77, 91, 28, 4, 2, 2, 2, 1]
5 : 2016-05-27 22:05:23.382431  i =  10000  len-xgroup = 17 [17, 29, 41, 70, 86, 56, 40, 6, 6, 5, 3, 2]
6 : 2016-05-27 22:06:24.337045 (10000, 25)
4 : 2016-05-27 22:06:24.337045  i1,i2= 670000 680000
5 : 2016-05-27 22:06:26.212292  i =  0  len-xgroup = 10 [10, 13, 19, 22, 68, 86, 58, 3, 3, 2, 2, 1]
5 : 2016-05-27 22:07:53.494446  i =  10000  len-xgroup = 3 [3, 6, 1, 93, -1, -1, -1, 4, 2, -1, -1, -1]
6 : 2016-05-27 22:08:55.781945 (10000, 25)
4 : 2016-05-27 22:08:55.782960  i1,i2= 680000 690000
5 : 2016-05-27 22:09:00.113844  i =  0  len-xgroup = 31 [31, 38, 12, 62, 81, 15, 40, 5, 4, 4, 3, 3]
5 : 2016-05-27 22:10:36.138809  i =  10000  len-xgroup = 28 [28, 33, 25, 2, 75, 5, 40, 13, 5, 3, 2, 2]
6 : 2016-05-27 22:11:35.846588 (10000, 25)
4 : 2016-05-27 22:11:35.846588  i1,i2= 690000 700000
5 : 2016-05-27 22:11:37.596843  i =  0  len-xgroup = 11 [11, 18, 30, 57, 85, 10, 29, 3, 3, 3, 2, 2]
5 : 2016-05-27 22:13:05.323294  i =  10000  len-xgroup = 9 [9, 14, 61, 12, 36, 62, 78, 6, 2, 2, 2, 1]
6 : 2016-05-27 22:14:19.640815 (10000, 25)
4 : 2016-05-27 22:14:19.641808  i1,i2= 700000 710000

,user_id,count0,countCnt0,count1,countCnt1,b0n0,b0n1,b0n2,b0n3,b0n4,...,b0v0,b0v1,b0v2,b0v3,b0v4,b1v0,b1v1,b1v2,b1v3,b1v4
user_id,,,,,,,,,,,,,,,,,,,,,
1190000,1190000,60,112,NaN,NaN,4,1,19,55,41,...,24,19,14,8,7,NaN,NaN,NaN,NaN,NaN
1190001,1190001,5,6,1.0,2.0,9,41,42,-1,-1,...,3,2,1,-1,-1,2.0,-1.0,-1.0,-1.0,-1.0
1190002,1190002,9,18,1.0,1.0,99,9,29,36,5,...,6,4,3,2,1,1.0,-1.0,-1.0,-1.0,-1.0
1190003,1190003,5,12,1.0,1.0,77,6,25,47,55,...,6,3,1,1,1,1.0,-1.0,-1.0,-1.0,-1.0
1190004,1190004,79,112,1.0,1.0,62,59,20,61,11,...,15,12,10,9,6,1.0,-1.0,-1.0,-1.0,-1.0

In [113]:
len(trans01)
trans01.tail()

,user_id,count0,countCnt0,count1,countCnt1,b0n0,b0n1,b0n2,b0n3,b0n4,...,b0v0,b0v1,b0v2,b0v3,b0v4,b1v0,b1v1,b1v2,b1v3,b1v4
user_id,,,,,,,,,,,,,,,,,,,,,
29995,29995,3,5,NaN,NaN,39,40,48,-1,-1,...,3,1,1,-1,-1,NaN,NaN,NaN,NaN,NaN
29996,29996,7,9,1.0,1.0,23,50,72,91,-1,...,6,1,1,1,-1,1.0,-1.0,-1.0,-1.0,-1.0
29997,29997,9,14,1.0,1.0,42,48,91,53,94,...,4,4,3,2,1,1.0,-1.0,-1.0,-1.0,-1.0
29998,29998,14,18,NaN,NaN,70,21,4,10,17,...,5,3,1,1,1,NaN,NaN,NaN,NaN,NaN
29999,29999,3,3,2.0,2.0,39,42,91,-1,-1,...,1,1,1,-1,-1,1.0,1.0,-1.0,-1.0,-1.0

In [120]:
trainx.query('user_id==1190000')['cnt'].count()

60

In [134]:
import os
xres = [os.path.join(pickleDir,iFile) for iFile in os.listdir(pickleDir) if (iFile[0:7]=='trans01')]
fres=xres
len(fres)

120

In [135]:
# Read files and build one dataframe
ff  = pd.read_pickle(fres[0])
for ifile in fres[1:len(fres)] :
    ff1 = pd.read_pickle(ifile)
    ff  = pd.concat([ff,ff1])
    del ff1
print(ff.shape)
ff.tail()

(1198786, 25)

,user_id,count0,countCnt0,count1,countCnt1,b0n0,b0n1,b0n2,b0n3,b0n4,...,b0v0,b0v1,b0v2,b0v3,b0v4,b1v0,b1v1,b1v2,b1v3,b1v4
user_id,,,,,,,,,,,,,,,,,,,,,
1198781,1198781,10,18,NaN,NaN,70,83,25,39,40,...,6,3,2,2,2,NaN,NaN,NaN,NaN,NaN
1198782,1198782,3,7,NaN,NaN,77,37,55,-1,-1,...,3,2,2,-1,-1,NaN,NaN,NaN,NaN,NaN
1198783,1198783,23,33,4.0,4.0,91,48,39,40,94,...,7,6,3,3,3,1.0,1.0,1.0,1.0,-1.0
1198784,1198784,4,10,1.0,1.0,68,26,79,95,-1,...,6,2,1,1,-1,1.0,-1.0,-1.0,-1.0,-1.0
1198785,1198785,2,3,NaN,NaN,76,-1,-1,-1,-1,...,3,-1,-1,-1,-1,NaN,NaN,NaN,NaN,NaN

In [136]:
ff.shape

(1198786, 25)

In [137]:
# Save result in file
print(ff.shape)
ff.to_pickle(os.path.join(pickleDir,'trans01-user-id-all.pck'))
#del ff

(1198786, 25)

In [138]:
del ff
del trainx